.layout {
  display: grid;
  grid-template-areas:
    "nav content";
  grid-template-columns: 200px 1fr;
  column-gap: 2rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.layout__content {
  grid-area: content;
  padding: 2rem 2rem 2rem 0rem;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .layout {
    grid-template-areas:
      "nav"
      "content";
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
    row-gap: 2rem;
    width: 100%;
  }

  .layout__content {
    padding: 0rem 2rem 2rem 2rem;
  }
}