.navbar {
  grid-area: nav;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  height: 100vh;
  background-color: rgb(103, 153, 234);
  color: #fff;
  padding: 3rem 1rem;
  text-align: left;
  position: sticky;
  top: 0;

}

.navbar__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar__toggle {
  display: none;
  visibility: hidden;
  background: none;
  border: none;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.navbar__user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;

  &__avatar {
    aspect-ratio: 1;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.navbar__link {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 1.2rem;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
  }
}

.navbar__links-grp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

/* MEDIA QUERIES */

// Tablets
@media (max-width: 768px) {
  .navbar {
    width: 100%;
    height: auto;
    padding: 1.5rem;
    border-radius: 0;
  }

  .navbar__user {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;

    &__avatar {
      height: auto;
      aspect-ratio: 1;
    }

    &__name {
      display: none;
      visibility: hidden;
    }
  }

  .navbar__links-grp {
    flex-direction: row;
  }

  .navbar__link {
    // font-size: 1rem;
    text-align: center;
  }
}

//Mobile
@media (max-width: 480px) {
  .navbar {
    padding: 1rem 2rem;
    width: 100vw;
  }

  .navbar__header {
    flex-direction: row;
    justify-content: space-between;
  }


  .navbar__toggle {
    display: block;
    visibility: visible;
  }

  .navbar__links-grp {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-end;
  }

  .navbar__links-grp[open] {
    display: flex;
  }
}