.new-task-form__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 4rem 5rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;

  h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
  }
}

.new-task-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  /* input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  } */


  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }

}

.new-task-form__task-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  padding: 1rem 1rem 0.5rem 0.25rem;

  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #757575;
  border-radius: 0;
  background-color: #f9f9f9;

  &:focus {
    outline: none;
    border-color: #007bff;
    background-color: #f9f9f9;
    
    &::placeholder {
      opacity: 0.2;
    }
  }
}